@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src:
    local("Lato Regular"),
    local("Lato-Regular"),
    url("./fonts/LatoLatin-Regular.woff2") format("woff2"),
    url("./fonts/LatoLatin-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src:
    local("Lato Bold"),
    local("Lato-Bold"),
    url("./fonts/LatoLatin-Bold.woff2") format("woff2"),
    url("./fonts/LatoLatin-Bold.woff") format("woff");
  font-display: swap;
}
